/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

img{
	display: block;
	width: 100%;
}

/******/
/*font*/
/******/



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#1a3065;
	--color-text2: rgb(255, 255, 255);
	--color-background:#eee;
	--color-background2: #1a3065;
	
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/******************/
/*header homepage */
/******************/

.homepage header {
	display: flex;
	flex-direction: column;
	background-image: url(../images/homepage_hero.gif);
	filter: brightness(.8);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.homepage header section:first-of-type {
	display: flex;
	flex-direction: row;
	position: fixed;
}

.homepage header section a img {
	height: 7em;
	width: 9em;
	margin-top: -2.4em;
	margin-left: -.5em;
}

.homepage header section nav ul li {
	list-style-type: none;
}

.homepage header section nav ul li a{
	text-decoration: none;
	color: black;
}

.homepage header section:nth-of-type(2) {
	padding: 1.5em
}

.homepage header section:nth-of-type(2) h1{
	
	text-align: center;
	justify-content: center;
	margin-top: 5.5em;
	color: var(--color-text);
}

.homepage header section:nth-of-type(2) h3{
	text-align: center;
	justify-content: center;
	color: var(--color-text);
}

.homepage header section:nth-of-type(2) a{
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	background-color: #ffea80;
	border-radius: 1.5em;
	padding: .8em;
	margin: .8em;
	color: var(--color-text);
}

/************************************/
/* section bottles kg en happy fish */
/************************************/

.homepage main section:first-of-type{
	background-color: #f4fdff;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.homepage main section:first-of-type ul li {
	list-style-type: none;
	color: var(--color-text);
	margin-left: -1em;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.homepage main section:first-of-type ul li img {
	height: 3.9em;
	width: 3.9em;
	margin-top: 0.7em;
}

.homepage main section:first-of-type ul li p {
	margin-top: -1.5em;
}

/**************************/	
/* section swap the crap */
/**************************/	

.homepage main section:nth-of-type(2) {
	background-color: var(--color-background2);
	width: 100%;
}

.homepage main section:nth-of-type(2) img {
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.homepage main section:nth-of-type(2) h3 {
	color: var(--color-text2);
	margin-left: 1.7em;
	margin-top: -.02em;
}

.homepage main section:nth-of-type(2) p {
	color: var(--color-text2);
	padding-left: 1.8em;
	margin-bottom: 1em;
	width: 90%;
	
}

.homepage main section:nth-of-type(2) a {
	text-align: center;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;
	border-radius: 1.5em;
	padding: .8em;
	margin: .8em;
}

/*********************************************/	
/* section gift personalised branded doppers */
/*********************************************/	

.homepage section:nth-of-type(3) section:first-of-type {
	background-color: #f4fdff;
}

.homepage section:nth-of-type(3) section:first-of-type h4 {
	margin-left: .8em;
	color: var(--color-text);
	margin-top: -1em;
	text-transform: uppercase;
}

.homepage section:nth-of-type(3) section:first-of-type h3 {
	margin-left: .6em;
	color: var(--color-text);
}

.homepage section:nth-of-type(3) section:first-of-type p {
	margin-left: .8em;
	color: var(--color-text);
	width: 90%;
	
}

#customer-tool-link {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffea80;
	color: var(--color-text);
	border-radius: 1.5em;
	padding: 1em;
	margin: 0.8em;
	
}

/*****************************/	
/* section shop dopper steel */
/*****************************/	 

.homepage section:nth-of-type(3) section:nth-of-type(2) {
	background-color: #97d7db;
	margin-top: 1.5em;
	margin-left: -3em;
	margin-right: 1em;
	
}

.homepage section:nth-of-type(3) section:nth-of-type(2) h6 {
	color: var(--color-text);
	margin-left: 5.5em;
	font-size: 1.2em;
	width: 70%;
}

.homepage section:nth-of-type(3) section:nth-of-type(2) a {
	text-align: center;
	text-decoration: none;
	background-color: #ffea80;
	color: var(--color-text);
	border-radius: 1.5em;
	padding: 1em;
	margin-left: 6.6em;
}

/*********************************/	
/* section customise your bottle */
/*********************************/	

.homepage section:nth-of-type(3) section:nth-of-type(3) {
	background-color: #97d7db;
	margin-top: -2em;
	margin-right: -5em;
	margin-left: 1em;
}

.homepage section:nth-of-type(3) section:nth-of-type(3) h6 {
	color: var(--color-text);
	margin-left: 1em;
	font-size: 1.2em;
	width: 70%;
}

.homepage section:nth-of-type(3) section:nth-of-type(3) a {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffea80;
	color: var(--color-text);
	border-radius: 1.5em;
	padding: 1em;
	margin-left: 1.2em;
}

.homepage section:nth-of-type(4) img {
	margin-top: 2em;
}

.homepage section:nth-of-type(4) h1 {
	color: var(--color-text2);
	margin-top: -2em;
}

/****************************************/	
/* section the drops in our wave so far */
/****************************************/	

.homepage section:nth-of-type(5) {
	background-color: var(--color-background2);
}

.homepage section:nth-of-type(5) h1 {
	font-size: 3em;
	text-align: center;
	padding: 1em;
}

#aantal-wave-drops {
	font-size: 5em;
	text-align: center;
	margin-top: -1em;
} 

.homepage section:nth-of-type(5) a {
	justify-content: center;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;
	color: var(--color-text);
	border-radius: 1.5em;
	padding: 1em;
}

/***************/	
/* news splash */
/***************/

.homepage section:nth-of-type(6) {
	background-color: #f4fdff;
}

.homepage section:nth-of-type(6) h2 {
	text-align: center;
	padding: 1em;
	font-size: 2em;
	color: var(--color-text);
}

#answer-to-biggest-question {
	text-align: center;
	color: var(--color-text);
	margin-top: -2.5em;
	margin-bottom: 3em;
}

.homepage section:nth-of-type(6) article {
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.homepage section:nth-of-type(6) article h5 {
	font-size: 1.2em;
	color: var(--color-text);
}

.homepage section:nth-of-type(6) article p {
	color: var(--color-text);
	margin-top: -.8em;
}

.homepage section:nth-of-type(6) article a {
	color: var(--color-text);
	text-decoration: none;
}


input{
	border: none;
	border-bottom: 1px solid grey;
}


/**********/	
/* footer */
/**********/


.homepage footer details {
	color: rgb(192, 192, 192);
	padding-left: 2em;
	padding-top: 2em;
}

.homepage footer details ul li {
	list-style-type: none;
}

.homepage footer details ul li a{
	color: var(--color-text);
	text-decoration: none;
}

.homepage footer section:first-of-type {
	padding:2em;
}

.homepage footer section:first-of-type p {
	color: var(--color-text);
}

.homepage footer section:nth-of-type(2) ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
	width: 50%;
	margin-left: 7em;
}

.homepage footer section:nth-of-type(2) ul li a img {
	height: 2em;
	width: 2em;
	background-color:#ffea80;
	border-radius: 3em;
}

.homepage footer section:nth-of-type(3) {
	padding: 2em;
}

.homepage footer section:nth-of-type(3) a {
	color: rgb(192, 192, 192);
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding-bottom: 1em;
}

.homepage footer section:nth-of-type(3) p {
	padding-top: 2em;
	color: var(--color-text);
	text-transform: uppercase;
}

.homepage footer section:nth-of-type(4) {
	padding-left: .5em;
	padding-right: 2em;
	padding-bottom: 2em;
	margin-top: -2.5em;
}

.homepage footer section:nth-of-type(4) ul  {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homepage footer section:nth-of-type(4) ul li img {
	width: 2.3em;
	height: 2.3em;
}